html, body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: lumberjack;
	src: url(lumberjack.otf);
}

#logo {
	position: absolute;
	top: 0;
	left: 2%;
	font-family: lumberjack;
	color: #373737;
	width: 405px;
}

#headtext {
	position: absolute;
	font-size: 40px;
	left: 20px;
	top: 20px;
}
#headtext_under {
	position: absolute;
	font-size: 15px;
	left: 20px;
	top: 85px;
}

#head {
	position: absolute;
	width:100%;
	top: 55px;
	left: 1px;
	height: 80px;
}

#tablinkport {
	width: 210px;
	height: 52px;
	position: absolute;
	top: 75px;
	left: 730px;
	transition: 0.3s;
	overflow: hidden;
}

#portfolio {
	position: absolute;
	top: -5px;
	left: 29%;
	text-align: center;
	color: #a7a6a6;
	font-family: lumberjack;
	font-size: 20px;
}

#tablinkport:hover {
	filter: brightness(135%);
}

#tablinkportact {
	width: 210px;
	height: 52px;
	position: absolute;
	top: 75px;
	left: 730px;
	transition: 0.3s;
	overflow: hidden;
	filter: brightness(100%);
	z-index: 3;
	transition: 0s;
}

#tabcontentport1 {
	position: absolute;
	z-index: 7;
	top: 35px;
	left: 34%;
	height: 800px;
	overflow: hidden;
}

#tabcontentport2 {
	position: absolute;
	z-index: 7;
	top: 35px;
	left: 55.5%;
	height: 800px;
	overflow: hidden;
}

#tabcontentport3 {
	position: absolute;
	z-index: 7;
	top: 35px;
	left: 77%;
	height: 800px;
	overflow: hidden;
}

.imgcontainer {
	padding: 16px;
}

.artwork {
	filter: brightness(70%);
	width: 250px;
	box-shadow: 2px 5px 12px rgba(9, 9, 9, 0.8), -2px 8px 16px rgba(9, 9, 9, 0.8);
	transition: 0.3s;
}

.artwork:hover {
	filter: brightness(110%);
	transform: scale(1.03);
}

#sidenavcover {
	position: relative;
	z-index: 11;
}

#sidenavcoverimg1 {
	position: relative;
	z-index: 11;
	height: 800px;
	filter: brightness(130%);
}

#sidenavcoverimg2 {
	position: relative;
	z-index: 11;
	height: 800px;
	filter: brightness(130%);
}

#profileside {
	position: absolute;
	width: 130px;
	top: 10%;
	left: 5%;
	border: 1px solid #080707;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 5px 12px rgba(9, 9, 9, 0.8), -2px 8px 16px rgba(9, 9, 9, 0.8);
}

#aboutmetext {
	position: absolute;
	left: 25%;
	top: 6%;
}

#profilefront {
	position: absolute;
	width: 110px;
	top: 10%;
	left: 42.9%;
	border: 1px solid #080707;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 5px 12px rgba(9, 9, 9, 0.8), -2px 8px 16px rgba(9, 9, 9, 0.8);
}

#contacttext {
	position: relative;
	top: 50%;
	text-align: center;
}

#sidenavact1 {
	position: absolute;
	height: 100px;
	width: 442px;
	z-index: 12;
}

#sidenavinact2 {
	position: absolute;
	height: 100px;
	width: 404px;
	z-index: 12;
}

#sidenavact2 {
	position: absolute;
	height: 100px;
	width: 442px;
	z-index: 12;
}

#tablinkabout {
	width: 210px;
	height: 52px;
	position: absolute;
	top: 75px;
	left: 905px;
	transition: 0.3s;
	overflow: hidden;
}

#aboutme {
	position: absolute;
	top: -5px;
	left: 29%;
	text-align: center;
	color: #a7a6a6;
	font-family: lumberjack;
	font-size: 20px;
}

#tablinkabout:hover {
	filter: brightness(135%);
}

#tablinkaboutact {
	width: 210px;
	height: 52px;
	position: absolute;
	top: 75px;
	left: 905px;
	transition: 0.3s;
	overflow: hidden;
	filter: brightness(100%);
	z-index: 3;
	transition: 0s;
}

#tabcontentabout {
	position: relative;
	left: 34%;
	width: 785px;
	height: 400px;
	top: 35px;
	margin: 16px;
	z-index: 6;
	color: #a7a6a6;
	background-color: #343030;
	font-family: lumberjack;
	border: 1px solid #080707;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 5px 12px rgba(9, 9, 9, 0.8), -2px 8px 16px rgba(9, 9, 9, 0.8);
}

#tablinkcont {
	width: 210px;
	height: 52px;
	position: absolute;
	top: 75px;
	left: 1080px;
	transition: 0.3s;
	overflow: hidden;
}

#contact {
	position: absolute;
	top: -5px;
	left: 29%;
	text-align: center;
	color: #a7a6a6;
	font-family: lumberjack;
	font-size: 20px;
}

#tablinkcont:hover {
	filter: brightness(135%);
}

#tablinkcontact {
	width: 210px;
	height: 52px;
	position: absolute;
	top: 75px;
	left: 1080px;
	transition: 0.3s;
	overflow: hidden;
	filter: brightness(100%);
	z-index: 3;
	transition: 0s;
}

#tabcontentcont {
	position: relative;
	left: 34%;
	width: 785px;
	height: 400px;
	top: 35px;
	margin: 16px;
	z-index: 6;
	color: #a7a6a6;
	background-color: #343030;
	font-family: lumberjack;
	border: 1px solid #080707;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 5px 12px rgba(9, 9, 9, 0.8), -2px 8px 16px rgba(9, 9, 9, 0.8);
}

#container {
	position: relative;
	top: 120px;
	left: 2%;
	width: 96%;
	height: 800px;
	min-width: 1300px;
	background-color: #1b1a1a;
	border-top: 4px solid #a7a6a6;
	border-left: 1px solid #080707;
	border-bottom: 1px solid #080707;
	border-right: 1px solid #080707;
	border-radius: 2px 2px 8px 8px;
	z-index: 2;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.8), 0px 6px 35px rgba(0, 0, 0, 0.4);
}

#darkenbg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
	z-index: 12;
}

.displayartwork {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	max-width: 80%;
	max-height: 580px;
	border-radius: 7px 7px 7px 7px;
	border: 2px solid #050404;
	z-index: 13;
}

#sidenav {
	position: absolute;
	top: 120px;
	left: 2%;
	width: 440px;
	height: 800px;
	z-index: 10;
	border-top: 4px solid #a7a6a6;
	border-left: 1px solid #111010;
	overflow: hidden;
	border-radius: 2px 0px 0px 8px;
}

.navimg {
	position: relative;
	height: 800px;
	width: 400px;
}

.navimgeffect {
	position: relative;
	height: 800px;
	width: 400px;
	box-shadow: 4px 0px 12px rgba(12, 12, 12, 0.8), 8px 0px 16px rgba(9, 9, 9, 0.8);
}

#sidenavimg {
	position: relative;
	width: 100%;
}

#sidenavimg img {
	position:absolute;
	z-index:1
}

#sidenavimg img.active {
	z-index:3
}

#copyright {
	position: relative;
	top: 150px;
	padding: 30px;
	text-align: center;
	color: #807a76;
}
